<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vea el ají!</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    <header>
        <h1>Live feed of the picante.</h1>
        <h3><a href="./index.html">Volver a la página de Flask anterior hecha por Ramiro.</a></h3>
    </header>
    <main>
        <img class="ojoenelaji" src="../static/downloads/images/la_imagen_1.jpg" alt="Bell Pepper live feed">
    </main>
    <footer>
        <address><a href="https://linkedin.com/in/ramiroivanrios" target="_blank">Ramiro Ríos @ Linkedin</a></address>
    </footer>
</body>
</html>